body {
    background-color: #f1f3f5;

}

a {
    color: #637575f;
}

.topNav {
    display: flex;
    height: 64px;
    flex-direction: row;
}

.container {
    padding: 0 16px 0 16px;
    /* border: 1px dotted red; */
    display: flex;
    height: 64px;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    align-items: center;
}

.left {
    position: absolute;
    left: 16px;
    top: 16px;
}

#topDevhint {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-decoration: none;
    color: rgb(51, 68, 85);
    position: absolute;
    top: 16px;
}

.actions {
    margin-right: 9px;
    position: absolute;
    right: 16px;
    top: 16px;
}

#Capa_2 {
    padding-left: 9px;
}

.body-Area {
    max-width: 740px;
    margin: 200px;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #345;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #111;
    font-weight: 200;
    text-align: center;
    margin-bottom: 16px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #678;
    font-size: 16px;
    font-weight: 200;
}

.search-box {
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .3),
        0 1px 2px rgba(102, 119, 136, .3);
    display: flex;
    height: 64px;
    width: 708px;
    margin: auto;
    margin-top: 25px;
    align-items: center
}

.prefix {
    font-size: 15px;
    display: block;
    color: rgba(102, 119, 136, .5);
    font-weight: 400;
    user-select: none;
    line-height: 1.5em;
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba(241, 243, 245, .5);
    margin: 0 0 0 16px;
    box-shadow: 0 1px 1px rgba(102, 119, 136, .25);
}

.sep {
    color: rgba(102, 119, 136, .5);
    font-size: 17px;
    margin: 0 8px;
}

.q {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    font-size: 17px;
    padding: 16px;
    height: 64px;
    background: 0 0;
    border: 0;
    flex: 1 1 auto;
    padding-left: 0;
    font-weight: 700;
    color: #111;
    min-width: 48px;
}

.search-box:hover {
    cursor: text;
}

input {
    border: none;
    font-size: 25px;
}

.before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.or…098.742%200%2054.855-43.762%2098.742-98.462%2098.742z%22%2F%3E%3C%2Fsvg%3E) center center/32px 32px no-repeat;
    height: 32px;
    width: 32px;
    background-position: center center;
    flex: 0 0 64px;
    width: 64px;
    order: 2;
}

.ad {
    margin-top: 20px;
    /* border: 1px solid rgba(241, 243, 245, .9); */
    width: 38%;
    margin: auto;
    margin-top: 38px;
}

.pages-list {
    display: flex;
    max-width: 740px;
    margin: auto;
}

button {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3b6e22;
    /* display:inline-block; */
    cursor: pointer;
    /* color:#ffffff; */
    font-family: Trebuchet MS;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 16px;
    text-decoration: none;
    width: 169px;
    height: 53px;
}

.allButtons {
    margin-top: 3em;
    margin-left: 25px;
}

#button1 {
    background-color: #8d68b8;
    text-align: start;
    color: #fff;
    margin-bottom: 12px;
    margin-right: 5px;
}

#button2 {
    background-color: #6b818f;
    text-align: start;
    color: #fff;
    margin-right: 5px;
}

#button3 {
    background-color: #14b38d;
    text-align: start;
    color: #fff;
    margin-right: 5px;
}

#button4 {
    background-color: #8d68b8;
    text-align: start;
    color: #fff;
}

#button5 {
    background-color: #6a808e;
    text-align: start;
    color: #fff;
    margin-right: 5px;
}

#button6 {
    background-color: #14b38d;
    text-align: start;
    color: #fff;
    margin-right: 5px;
}

#button7 {
    background-color: #8d68b8;
    text-align: start;
    color: #fff;
    margin-right: 5px;
}

#button8 {
    background-color: #6b818f;
    text-align: start;
    color: #fff;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: #78dab3;
    border-radius: 50%;
    z-index: 10;
    display: inline-block;
    margin-left: 10px;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    color: #745fb5;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    padding-bottom: 1em;
    border-bottom:  1px solid #b9b9b9; 
}

.all-links {
    margin-left: 184px;
    margin-right: 200px;
}